<ion-tabs>
  <ion-tab label="Leaderboard" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Questions" icon="information-circle" href="/tabs/(questions:questions)">
    <ion-router-outlet name="questions"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Treasure Hunt" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
    <ion-tab label="Information" icon="information-circle" href="/tabs/(info:info)">
    <ion-router-outlet name="info"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
